.ContainerBorrowManagement{
   margin-left: 100px !important;
   margin-right: 100px !important;
   width: 1419px  !important;
   margin-top: 77px;

    .HeaderManagement{
      color:#2185d0!important;
      padding-top: 20px;
     }
     .ButtonRefresh {
      padding: 10px !important;
      height: 30px;
      background-color: #2185d0;
      color: #fff;
      font-size: .78571429rem;
      margin-top: 4px;
   
      &:hover {
         background-color: #1678c2;
         color: #fff;
         text-shadow: none;
      }
   }
  
   .header-actions {
      display: flex;
      justify-content: space-between;
   }
   
   .ButtonHandleAddBook {
      margin-bottom: 30px;
   }
   .MenuHeader {
      min-height: 0 !important;
      border-color: #fff;
    }
    .DropdownLimitPage {
      width: 200px;
      font-size: 14px;
      z-index: 10 !important;
    }
  
}