.ContainerBookManagement{
   margin-left: 100px !important;
   margin-right: 100px !important;
   width: 1419px  !important;
   .HeaderManagement{
      color:#2185d0!important;
      padding-top: 20px;
     }
}