/* styles.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  flex-shrink: 0; /* Không cho phần header co lại khi nội dung quá lớn */
}

.content {
  flex-grow: 1; /* Phần nội dung chiếm hết phần còn lại */
  margin-bottom: 800px;
}

.footer {
  flex-shrink: 0; /* Không cho phần footer co lại khi nội dung quá lớn */
}
